.bg-custom{
	background: #827717 !important;
}

.navbar .nav-item .nav-link{
	
	font-size: 20px;
	color: white;
}


.navbar-custom .nav-item:hover .nav-link{
	
	background: white;
	color: black;
	border-radius: 15px;
}


.div-color{
	
	background: rgb(153, 153, 102);
	height: 100vh; 
	
}












































